# build artifacts
*.o
linuxplus-learn

# debug
*.log

# ncurses/editor noise
*~

# any log file created by Thomas
*logs.txt

# any lab output
output.txt

# binary distribution
dist

# don't try to upload old labs
labs_old

#backups for the labs folder
labs_backup

#todo notes
todo.txt

# editor
.vscode/
.idea/
